<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Маршрут: {{object.From}} -> {{object.To}}</title>
</head>
<body>
<p><a href = "/taxi/main/"> <<< На главную </a></p>
<h1>Маршрут</h1>
<hr>
<h2>Информация о рейсе:</h2>
<li>Маршрут выполняется из {{object.From}} в {{object.To}}</li>
<li>Дата маршрута: {{object.date}}</li>
<li>Время маршрута: {{object.time}}</li>
<li>Количество забронированных мест: {{object.count}}</li>


<p><a href = "/taxi/main/{{object.pk}}/edit/">Изменить маршрут</a></p>
<p><a href = "/taxi/main/{{object.pk}}/delete/">Удалить заказ</a></p>

</body>
</html>