<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.name }} - Users</title>
</head>
<body>
<p><a href = "/taxi/main/"> <<< bact to main </a></p>
<h1>{{object.name}}</h1>
<hr>
<p>Phone: {{object.phone}}</p>

<h2>Addresses:</h2>
<ol>
    {% for a in object.address_set.all %}
    <li>{{a.city}} {{a.street}}</li>
    {% endfor %}
</ol>
<p>
    {% for t in object.tag_set.all %}
    <span>{{t.label}}</span>
    {% endfor %}
</p>
<p><a href = "/taxi/main/{{object.pk}}/edit/">Edit</a></p>
<p><a href = "/taxi/main/{{object.pk}}/delete/">Delete (get)</a></p>

</body>
</html>